/****
  Les styles de la plateforme constituante insoumise !
**/


body {
  margin-top : 71px;

  /*background: linear-gradient(rgba(0, 152, 182, 0.6),rgba(0, 152, 182, 0.3)),linear-gradient(rgba(0, 152, 182, 0.2),rgba(0, 152, 182, 1) 50vw, rgba(0, 152, 182, 1) 60vw);
*/
  background-color : #fff;

}


footer {
  text-align : center;
}


.navbar-insoumis{

  background-color: #0098b6;

  border : 0px;

  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;


}

.jumbotron-insoumis{
  /*background-color : #E06540;*/
  background-color :  #0098b6;
  color : #fff;
}
.jumbotron-insoumis > h1 {
  font-family: Courgette, cursive;
}

.panel-insoumis {

  border-color : #E06540;
}

.panel-insoumis > .panel-heading{
  background-color : #E06540;
  color : #fff;
}


.btn-insoumis-rouge  {
  background-color: #E06540;
  border-color : #C7462C;
  color : #fff;
  font-weight: bold;
  font-size : 14px;
}

.btn-insoumis-rouge:hover {
  background-color: #d35e3b;
  border-color : #d35e3b;
  color : #fff;
  font-weight: bold;
  font-size : 14px;

}

.btn-insoumis-bleu  {
  background-color: #0098b6;
  border-color : #0098b6;
  color : #fff;
  font-weight: bold;
  font-size : 14px;
}

.btn-insoumis-bleu:hover  {
  background-color: #0087a3;
  border-color : #0087a3;
  color : #fff;
  font-weight: bold;
  font-size : 14px;
}



.navbar-inverse .navbar-nav> li> a{
  color : #FFF;
}

.navbar-inverse .navbar-nav> li> a.navbar-insoumis-titre{
  font-size : 22px;
}

.navbar-inverse .navbar-nav> li> a.navbar-insoumis-boutton{
  font-size : 16px;
  font-weight: bold;
}



.panel-proposition {

  border: 1px solid #dddddd;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px;

}

.panel-proposition .panel-heading {
  height: 95px;
  padding: 20px 15px;
}

.panel-proposition .panel-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.panel-proposition .panel-heading .meta .title {
  margin-bottom: 0;
}
.panel-proposition .panel-heading .meta .title a {
  color: black;
}
.panel-proposition .panel-heading .meta .title a:hover {
  color: #aaaaaa;
}
.panel-proposition .panel-heading .meta .time {
  margin-top: 8px;
  color: #999;
}


.panel-proposition .post-image .image {
  width: 100%;
  height: auto;
}

.panel-proposition .panel-body {
  padding : 10px 30px;
}

.panel-proposition .panel-footer {

  padding-bottom : 13px;
}

.panel-proposition .panel-footer .btn-success {
  width : 70px;
}

.panel-proposition .panel-footer .btn-danger {
  width : 70px;
}


.panel-commentaire .list-group-item{
  padding : 10px 30px;
}

.panel-commentaire .panel-footer {
  padding-bottom : 13px;
}





.table-filter {
background-color: #fff;
border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
cursor: pointer;
background-color: #eee;
}
.table-filter tbody tr td {
padding: 10px;
vertical-align: middle;
border-top-color: #eee;
}


.table-filter .media-photo {
width: 35px;
}
.table-filter .media-meta {
font-size: 11px;
color: #999;
}
.table-filter .media .title {
color: #2BBCDE;
font-size: 14px;
font-weight: bold;
line-height: normal;
margin: 0;
}
.table-filter .media .title span {
font-size: .8em;
}
.table-filter .media .title span.pagado {
color: #5cb85c;
}
.table-filter .media .title span.pendiente {
color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
color: #d9534f;
}
.table-filter .media .summary {
font-size: 14px;
}
